apparmor==3.1.7
attrs==23.2.0
blinker==1.7.0
btrfsutil==6.8
cairocffi==1.6.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
distlib==0.3.8
docutils==0.20.1
filelock==3.13.3
idna==3.6
LibAppArmor==3.1.7
packaging==23.2
pep8==1.7.1
platformdirs==4.2.0
ply==3.11
psutil==5.9.8
pycodestyle==2.11.1
pycparser==2.21
PyGObject==3.48.1
qtile==0.24.0
urllib3==1.26.18
xcffib==1.4.0
